/ABCD/nbproject/private/
/ABCD/dist/
/ABCD/build/
/nbproject/private/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication1/dist/
/WebApplication1 - Copy/build/
/WebApplication1 - Copy/nbproject/private/
/respaldo/WebApplication1 - Copy/build/
/respaldo/WebApplication1 - Copy/nbproject/private/