/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 21, 2017, 12:37:48 AM
    Author     : mendezgonzalez.9
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
     width: 25%;
      text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 25%;
    margin-left: 35%
   
   
}

li a:hover:not(.active) {
    background-color: #57f934;
     width: 25%;
     text-align: center;     
}

.active {
    background-color: #f0f;
}
.logi {
    float: right;
    text-align: right;
    background-color: black;
}

div.noticias {
    position: inherit;
    border-bottom-color: black;
    border: 20px ;
    float: left;
    border-radius: 5px;
    margin-left: 5%;
    margin-bottom: 5%;
    
   
}